<ng-select [items]="icdCodes"
           [searchFn]="search_ICD_Fn"
           [bindLabel]="'code'"
           [bindValue]="'description'"
           [multiple]="false"
           [addTag]="false"
           (scroll)="true"
           style="width: 30%"
           placeholder="Search ICD codes">
           <!-- (search)="search($event)"> -->
  <ng-template ng-option-tmp let-item="item">
    <div>{{ item.code }} - {{ item.description }}</div>
  </ng-template>
</ng-select>

<ng-select [items]="cptCodes"
           [searchFn]="search_CPT_Fn"
           [bindLabel]="'code'"
           [bindValue]="'description'"
           [multiple]="false"
           [addTag]="false"
           (scroll)="true"
           style="width: 30%"
           placeholder="Search CPT codes">
           <!-- (search)="search($event)"> -->
  <ng-template ng-option-tmp let-item="item">
    <div>{{ item.code }} - {{ item.description }}</div>
  </ng-template>
</ng-select>