<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
              <h2 class="footer-heading">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon ion-ios-pin"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                  <li><a href="#"><span class="icon ion-ios-call"></span><span class="text">+2 392 3929 210</span></a></li>
                  <li><a href="#"><span class="icon ion-ios-send"></span><span class="text">info@yourdomain.com</span></a></li>
                </ul>
              </div>
            </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>ADV-Insurance</h3>
                  <p>ADV Insurance is one of the leading private sector general insurance company in India offering medical insurance coverage. Policies can be purchased and renewed online as well. ADV Insurance polices provides you with extensive coverage during a medical emergency.</p>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">ADV-Insurance © 2023</p>
      </div>
  </footer>
</div>