footer {
    height: 59px;
  margin: 0 auto;
  color: #fff;
  clear: both;
  padding: 2em 2em;
  background: #000;
  position: relative;
  top: 508px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  
  .col-md-6 {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
    
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  @media screen and (max-width: 767px) {
    .col-md-6 {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  