    <!-- Hero Start -->
    <!-- Navbar Start -->

    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <app-header></app-header>
    <!-- Navbar End -->
    <main>
      <div class="first">
        <div class="first1">
           <h3> Welcome to Adv-Insurance</h3>
           
           <h1 class="display-1 text-white mb-md-4">Best Health Insuarance policy</h1> 
           <a href="" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2">Contact Us</a>
           <img src="assets\pngegg (2).png" class="img">
       </div>

       <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-1">
              <h2>Health Insurance</h2>
              <p>A health insurance policy extends coverage against medical expenses incurred owing to accidents, illness or injury. An individual can avail such a policy against monthly or annual premium payments, for a specified tenure.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-2" style="padding-bottom: 35px;">
              <h2>Platinum insurance partner</h2>
              <p>Adv-Insurance is the largest partner for most Health Insurers and a Platinum partner, which means we prioritize your policy and claims to ensure treating them on priority</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-3" style="padding-bottom: 49px;" >
              <h2>Affordable options</h2>
              <p>We make Health insurance more affordable for you through various monthly payment options and discounts provided by our Partners</p>

            </div>
          </div>
        </div>
      </div>
 
      <br>
   
<app-footer></app-footer> 
</div>
</main>
