    <!-- Hero Start -->
    <!-- Navbar Start -->
  
        <!-- Navbar End -->
        <body>
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <div class="container">
                        <div class="row" >
                          <div class="col-md-12 text-center">
                            <h2 class="animate-charcter" style="text-align: left;font-size: 26px; font-family:Georgia, 'Times New Roman', Times, serif"> Welcome to Adv-Insurance</h2>
                          </div>
                        </div>
                      </div><br>
                    <h1 class="display-1 text-white mb-md-4">Best Health Insuarance policy</h1> 
                    <div class="pt-2"><br>
                        <a href="" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2">Contact Us</a>
                        <a href="" class="btn btn-outline-light rounded-pill py-md-3 px-md-5 mx-2"[routerLink]="['/claims']">Get Started</a>
                        <br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</body>
<footer>
    

          
  

    <!-- Hero End -->
