<app-header></app-header>

<br><br><br>

<section class="h-50 h-custom gradient-custom-2">
    <div class="container py-5 h-50">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-5">
                    <h2 class="fw-normal mb-5" style="color: #322597;"><b>Provider Information</b></h2>
  
  
                    <div class="row">
                      <div class="col-md-8 mb-4 pb-2">
  
                        <div class="form-outline">
                        <label class="form-label" for="form3Examplev2">Provider Name</label>
                          <input type="text" id="form3Examplev2" class="form-control form-control-lg" style="width: 500px" />
                          
                        </div>
  
                      </div>
              
                    </div><br>
                    
                    <div class="row">
                        <div class="col-md-8 mb-4 pb-2 mb-md-0 pb-md-1">
                      
                          <div class="form-outline">
                            <label class="form-label" for="form3Examplev5">Provider Type</label> 
                            <!-- <select id="form3Examplev5" class="form-control form-control-lg" style="width: 500px">
                              <option value="">Select Provider Type</option>
                              <option value="type1">Provider Type 1</option>
                              <option value="type2">Provider Type 2</option>
                              <option value="type3">Provider Type 3</option>
                            </select> -->

                            <select formControlName="providers" class="form-control form-control-lg"  style="width: 500px" required>
                              <option value="">Select Provider Type</option>
                              <option *ngFor="let provider of providers" [value]="provider.id">{{ provider.name }}</option>
                            </select>
                          </div>
                      
                        </div>
                      </div><br>
                      <br>

                    <div class="row">
                        <div class="col-md-8 mb-4 pb-2 mb-md-0 pb-md-1">
    
                          <div class="form-outline">
                            <label class="form-label" for="form3Examplev5">Address </label>
                            <textarea type="text" id="form3Examplev5" class="form-control form-control-lg" style="width: 500px"></textarea>
                        
                          </div>
    
                        </div>
                      </div><br><br>

                      <div class="row">
                        <div class="col-md-8 mb-4 pb-2 mb-md-0 pb-md-1">
    
                          <div class="form-outline">
                            <label class="form-label" for="form3Examplev5">Phone Number</label>
                            <input type="number" id="form3Examplev5" class="form-control form-control-lg"  style="width: 500px"/>
           
                          </div>
    
                        </div>
                      </div>
  
                  </div>
                </div>
                <div class="col-lg-6 bg-indigo text-white">
                  <div class="p-5">
                    <h2 class="fw-normal mb-5"><b>Claim Information</b></h2>

                    <div class="row">
                        <div class="col-md-6 mb-4 pb-2">
    
                            <div class="form-outline form-white">
                                <label class="form-label" for="form3Examplev2">Type of claim</label>
                                <select id="form3Examplev2" class="form-control form-control-lg">
                                  <option value="">Select type of claim</option>
                                  <option value="health">Vision insurance claim</option>
                                  <option value="auto">Dental insurance claim</option>
                                  <option value="property">Prescription drug claim (RX)</option>
                                </select>
                              </div>
    
                        </div>
                        <div class="col-md-6 mb-4 pb-2">
    
                          <div class="form-outline form-white">
                            <label class="form-label" for="form3Examplev3">Date of Service</label>
                            <input type="date" id="form3Examplev3" class="form-control form-control-lg" />
                            
                          </div>
    
                        </div>
                      </div>
                    
  
                      <div class="mb-6 pb-2">
                        <div class="form-outline form-white">
                          <label class="form-label" for="form3Examplea3">ICD Code</label>
                          <!-- <select id="form3Examplea3" class="form-control form-control-lg">
                            <option value="">Select CPT</option>
                            <option value="cpt1">CPT code 1</option>
                            <option value="cpt2">CPT code 2</option>
                            <option value="cpt3">CPT code 3</option>
                          </select> -->

                    <ng-select [items]="icdCodes"
                              [searchFn]="search_ICD_Fn"
                              [bindLabel]="'code'"
                              [bindValue]="'description'"
                              [multiple]="false"
                              [addTag]="false"
                              (scroll)="true"
                              style="width: 500px"
                              placeholder="Search ICD codes">
                              <!-- (search)="search($event)"> -->
                      <ng-template ng-option-tmp let-item="item">
                        <div>{{ item.code }} - {{ item.description }}</div>
                      </ng-template>
                    </ng-select>

                        </div>
                      </div>
                      
                      <div class="mb-4 pb-2">
                        <div class="form-outline form-white">
                          <label class="form-label" for="form3Examplea4">CPT Code</label>
                          <!-- <select id="form3Examplea4" class="form-control form-control-lg">
                            <option value="">Select ICD</option>
                            <option value="icd1">ICD code 1</option>
                            <option value="icd2">ICD code 2</option>
                            <option value="icd3">ICD code 3</option>
                          </select> -->
                       <ng-select [items]="cptCodes"
                                  [searchFn]="search_CPT_Fn"
                                  [bindLabel]="'code'"
                                  [bindValue]="'description'"
                                  [multiple]="false"
                                  [addTag]="false"
                                  (scroll)="true"
                                  style="width: 500px"
                                  placeholder="Search CPT codes">
                                  <!-- (search)="search($event)"> -->
                                <ng-template ng-option-tmp let-item="item">
                                  <div>{{ item.code }} - {{ item.description }}</div>
                                </ng-template>
                         </ng-select>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-4 pb-2">
    
                          <div class="form-outline form-white">
                            <label class="form-label" for="form3Examplev2">Service Recevied</label>
                            <input type="text" id="form3Examplev2" class="form-control form-control-lg" />
                           
                          </div>
    
                        </div>
                        <div class="col-md-6 mb-4 pb-2">
    
                          <div class="form-outline form-white">
                            <label class="form-label" for="form3Examplev3">Amount Charged</label>
                            <input type="number" id="form3Examplev3" class="form-control form-control-lg" />
                           
                          </div>
    
                        </div>
                      </div>
                      
    
  <!-- <br> -->
                    <div class="form-check d-flex justify-content-start mb-4 pb-3">
                      <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c" />
                      <!-- <label class="form-check-label text-white" for="form2Example3"> -->
                        <!-- I hereby declare that the information fumished in this Claim Form is true & correct to the best of my knowledge and belief.</label> -->
                       <p style="font-family: Arial, Helvetica, sans-serif;"> I declare that the information provided in this claim submission form is true & correct to the best of my knowledge </p>
                        <!-- </label>  -->
                      
                    </div>
  
                    <button type="button" class="btn btn-light btn-lg" 
                      data-mdb-ripple-color="dark">Submit</button>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>

</section>
  <footer style=" bottom: 0; left: 0; width: 100%;  background: linear-gradient(to bottom, #2d0e57 29%, #282830 65%); color: #f5f5f5; padding: 5px;">

    <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
    
  <p style="margin: 0;">&copy; 2023 advinsurance.com. All rights reserved.</p>
   
    
     </div>
    
     </footer>
  
  