
<!DOCTYPE html>
<html>
  <head>
    <title>Health Insurance Claim History</title>

  </head>
  <body>
   <br><h1>Health Insurance Claim History</h1>
    <table id="claim-history">
      <thead>
        <tr>
          <th>Claim ID</th>
          <th>Date Of Service</th>
          <th>Type Of Claim</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
     <footer
        style="position: fixed; bottom: 0; left: 0; width: 100%;  background: linear-gradient(to bottom, #0077b6, #004368); color: #f5f5f5; padding: 5px;">

                <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">

                      <p style="margin: 0;">&copy; 2023 ADVInsurance.com . All rights reserved.</p>       
         </div>
    </footer>
  </body>
</html>
