 <!-- <table>
  <thead>
    <tr>
      <th>Claim ID</th>
      <th>Patient Name</th>
      <th>Amount</th>
      <th>Date of Submission</th>
      <th>Eligibility</th>
      <th>Action</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of dashboardData">
      <td>{{ item.claimId }}</td>
      <td>{{ item.memberName }}</td>
      <td>{{ item.amountBilled }}</td>
      <td>{{ item.dateOfSubmission }}</td>
      <td></td>
      <td>
        <select [(ngModel)]="item.action" (change)="onActionChange(item)">
          <option [ngValue]="null" disabled>Select Action</option>
          <option [ngValue]="'approved'">Approved</option>
          <option [ngValue]="'pending'">Pending</option>
          <option [ngValue]="'rejected'">Rejected</option>
        </select>
      </td>
      <td>
        <button class="btn btn-details">View Claim Details</button>
        <button class="btn btn-details">View Patient Details</button>
       
        </td>
    </tr>
  </tbody>

</table>

<br>
<div class="container">
  <div class="btn-group">
    <button class="btn" onclick="saveTable()">Save</button>
  </div>
</div>
 -->


 <div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Claim ID</th>
        <th>Patient Name</th>
        <th>Amount</th>
        <th>Date of Submission</th>
        <th>Eligibility</th>
        <th>Action</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dashboardData">
        <td>{{ item.claimId }}</td>
        <td>{{ item.memberName }}</td>
        <td>{{ item.amountBilled }}</td>
        <td>{{ item.dateOfSubmission }}</td>
        <td>{{ item.eligibility }}</td>
        <td>
          <select [(ngModel)]="item.action" (change)="onActionChange(item)">
            <option value="approved">Approved</option>
            <option value="pending">Pending</option>
            <option value="rejected">Rejected</option>
          </select>
        </td>
        <td>
          <button class="btn btn-details">View Claim Details</button></td>
        <td>  <button class="btn btn-details">View Patient Details</button>
         
          </td>
      </tr>
    </tbody>
  </table>
  
<br>
<div class="submit">
  <div class="btn-group">
    <button class="btn" onclick="saveTable()">Save</button>
  </div>
</div>
</div>
