<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">

  <title>Health Insurance Claim Status</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <br> <br> <br> <br> <br>
<br><br><br>
    <h1>INSURANCE CLAIM STATUS</h1>
    <hr>
    <div class="container">
      <form (ngSubmit)="onSubmit()" [formGroup]="claimForm">
        <div class="form-group">
          <label for="claim-number">CLAIM NUMBER</label>
          <input type="text" class="form-control" id="claim-number" placeholder="Enter claim number"  formControlName="claimId">
        </div>
        <button type="submit" class="btn btn-primary">Check Status</button>
      </form>
      
      <!-- <div class="alert alert-danger" *ngIf="error">
        {{ error }}
      </div> -->
      <br><br>
      <div *ngIf="claim">
        <div class="card">
          <div class="card-header">
            CLAIM STATUS
          </div>
          <div class="card-body">
            <p>Date of Service: {{ claim.date_of_service }}</p>
            <p>Amount Billed: {{ claim.amount_billed }}</p>
            <p>Provider Name: {{ claim.provider_name }}</p>
            <!-- <p>Provider Phone Number: {{ claim.provider_phone_number }}</p>
            <p>Provider Address: {{ claim.provider_address }}</p>
            <p>Type of Claim: {{ claim.type_of_claim }}</p>
            <p>CPT Code: {{ claim.cpt_code }}</p>
            <p>ICD Code: {{ claim.icd_code }}</p> -->
            <p>Eligibility: {{ claim.eligibility }}</p>
            <p>Status: {{ claim.status }}</p>
            <p>Date of Submission: {{ claim.date_of_submission }}</p>
          </div>
        </div>
      </div>
      
    
     <footer
     style="position: fixed; bottom: 0; left: 0; width: 100%;  background: linear-gradient(to bottom, #0077b6, #004368); color: #f5f5f5; padding: 5px;">
   
             <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
   
                 <p style="margin: 0;">&copy; 2023 advinsurance.com. All rights reserved.</p>
             </div>
      </footer>
  </div>
  </div>
</body>

</html>