<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">

  <title>Health Insurance Claim Status</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <br> <br> <br> <br> <br>
<br><br><br>
    <h1>INSURANCE CLAIM STATUS</h1>
    <hr>
    <div class="container">
      <form [formGroup]="claimForm">
        <div class="form-group">
          <label for="claimId">CLAIM ID</label>
          <input type="text" class="form-control" id="claimId" formControlName="claimId" placeholder="Enter claim id">

        </div>
        <button type="submit" class="btn btn-primary">Check Status</button>
      </form>
    
      <div *ngIf="claim">
        <div class="card">
          <div class="card-header">
            CLAIM STATUS
          </div>
          <div class="card-body">
            <p>Claim ID: {{ claim.claim_id }}</p>
            <p>Date of Service: {{ claim.date_of_service }}</p>
            <p>Amount Billed: {{ claim.amount_billed }}</p>
            <p>Provider Name: {{ claim.provider_name }}</p>
            <p>Type of Claim: {{ claim.type_of_claim }}</p>
            <p>Status: {{ claim.status }}</p>
            <p>Date of Submission: {{ claim.date_of_submission }}</p>
          </div>
        </div>
      </div>
    
      <div *ngIf="message" class="alert alert-danger mt-3">
        {{ message }}
      </div>
    </div>
    
    
     <footer
     style="position: fixed; bottom: 0; left: 0; width: 100%;  background: linear-gradient(to bottom, #0077b6, #004368); color: #f5f5f5; padding: 5px;">
   
             <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
   
                 <p style="margin: 0;">&copy; 2023 advinsurance.com. All rights reserved.</p>
             </div>
      </footer>
  </div>
</body>

</html>